<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="oms.mmc.fortunetelling.fate.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- activity 管理所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <!-- renren sso Permission for Unit Test -->
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application>
        <!--<activity-->
            <!--android:name=".ui.LaunchActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:label="@string/cn_app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ui.RegisterByPhoneActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.LoginActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.SettingActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.NotificationActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.NotificationModifyActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.RankActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.EditShareActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.ActionBreakActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.ForgetPWActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.ActionBreakIndexActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.AboutAppActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name=".ui.AlarmActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.Transparent"/>-->
        <!--<activity-->
            <!--android:name=".ui.FeedbackActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name="com.smartydroid.android.starter.kit.app.WebActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
            <!--android:name="com.umeng.fb.ConversationActivity"-->
            <!--android:screenOrientation="portrait">-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ui.GuideActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <!--&lt;!&ndash; *************************    related to notify START **************************** &ndash;&gt;-->
        <!--<provider-->
            <!--android:name=".alarm.AlarmProvider"-->
            <!--android:authorities="oms.mmc.fortunetelling.fate.lib.alarm"-->
            <!--android:exported="false"/>-->

        <!--<receiver-->
            <!--android:name=".alarm.AlarmReceiver"-->
            <!--android:process=":remote">-->
            <!--<intent-filter>-->
                <!--<action android:name="oms.mmc.fortunetelling.fate.baduanjin.alarm.ALARM_ALERT"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; *************************    related to notify START **************************** &ndash;&gt;-->


        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="570729ea67e58edc190004fb"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"/>
    </application>

</manifest>